@import '../lost-cities-card/lost-cities-card.common';

.draw-deck {
    border: 1px solid black;
    width: $card-width;
    height: $card-height;
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
    cursor: pointer;
    margin-top: 6px;
    background-color: #999999;
    color: white;
}

.discard-piles {
    display: inline-block;
    vertical-align: top;
    margin-left: 34px;
}

.score-box {
    border: 1px solid white;
    border-radius: 60px;
    background-color: #33aacc;
    color: white;
    font-family: helvetica;
    width: $card-width;
    height: $card-height;
    display: inline-table;
    margin-left: 10px;
    vertical-align: top;
}

.score {
    display: table-cell;
    position: relative;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.played-cards-piles {
    display: inline-block;
}

.score-box,
.played-cards-piles {
    margin-top: 10px;
    margin-bottom: 10px;
}

.player-header {
    font-weight: bold;
    font-size: 40px;
    font-family: helvetica;
    display: inline-block;
    position: relative;
    height: $card-height;
    width: 30px;
    margin-bottom: -($card-height);
}

.player-header div {
    transform: rotate(-90deg) translate(50%, 0%);
    transform-origin: right, top;
    -ms-transform: rotate(-90deg) translate(50%, 0%);
    -ms-transform-origin:right, top;
    -webkit-transform: rotate(-90deg) translate(50%, 0%);
    -webkit-transform-origin:right, top;
    text-align: center;
}