$card-width: 90px;
$card-height: $card-width * 1.61803;

.card-yellow {
    background-color: #ffff33;
}

.card-blue {
    background-color: #3399ff;
}

.card-white {
    background-color: #cccccc;
}

.card-green {
    background-color: #33ff33;
}

.card-red {
    background-color: #ff3333;
}